@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('../fonts/Raleway-VariableFont_wght.otf') format('opentype');
   
}
p , a , table , li , div {
    font-family: "Raleway";
}
html {
    background-color: #f5f5f5;
    
}
body {
    padding: 0px 50% 0px 50%; 
    list-style-type: none;
    min-width: 1160px;
    max-width: 1160px;
}
header {
    background-color: #17abb3;
}
.icon {
    padding: 0px 5px 0px 0px;
    width: 1rem;
    height: 1rem;
}
.icon-2 {
    padding: 15px 5px 0px 0px;
    width: 1rem;
    height: 1rem;
}
.icon:hover , .restyle:hover {
    opacity: 0.75;
}

.pstyle {
    font-weight: bold;
    margin-right: 80px;
    margin-top: 15px;
    margin-left: -55px;     
}
.pstyle-11 {
    font-weight: bold;
    margin-right: 80px;
    margin-top: 15px;
}
.pstyle-8 {
    font-weight: bold;
    margin-right: 80px;
    margin-top: 10px;
}
.pstyle-2 {
    display: flex;
    flex-direction: column;
    margin-left: -90px;
}
.headstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -250px;
    padding: 10px 30px 80px 125px;
}
.tastyle {
    display: flex;
    color: white;
    text-decoration: initial;
    padding: 5px 15px 5px 5px;
    align-items: center;
    font-family: "Raleway";
    margin-right: 48px;
    margin-bottom: -15px;
    
}
.tabstyle {
    display: flex;
    color: white;
    text-decoration: initial;
    padding: 5px 15px 5px 5px;
    align-items: center;
    font-family: "Raleway";
    margin-bottom: -15px;
}
.tabstyle-2 , .tabstyle-3 {
    display: flex;
    flex-direction: row;
}

.flexstyle {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
    
}
.pstyle-9 {
    margin-top: -150px;
    margin-left: 75px;
}
.flexstyle-2 {
    display: flex;
    justify-content: right; 
    margin-top: -20px;
}
.listyle {
    margin-bottom: 10px;
    margin-left: -35px;
}
.pstyle-10 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: -90px;
}
h1 {
    font-size: xx-large;
    color: white;
    margin-bottom: -10px;
    font-family: "Lato";
}
.listyle-2 {
    padding: 5px 5px 5px 5px; 
}
h2 {
    font-size: x-large;
    color: white;
    margin-bottom: 15px;
    font-family: "Lato";
}
h3 {
    font-family: "Lato";
    color: #17abb3;
    font-size: x-large;
    padding: 5px 5px 5px 5px;
}
.prostyle {
    font-family: "Lato";
    color: #17abb3;
    font-size: x-large;
}
.lieustyle {
    font-style: italic;
}
.pstyle-3 {
    font-weight: 600;
}
.pstyle-4 {
    margin-bottom: 50px;
}
.pstyle-4:hover , .pstyle-7:hover , .pstyle-6:hover {
    background-color: rgba(227, 227, 227, 75%);
    padding: 15px 15px 15px 15px;
    border-left: solid;
    border-color: #17abb3;
}
.pstyle-6 {
    margin-top: 30px;
}
.styletime {
    display: flex;
    color: #17abb3;
    font-weight: 600;
    justify-content: right;
    margin-top: -15px;
}
time {
    display: flex;
    color: #17abb3;
    font-weight: 600;
    justify-content: right;
    margin-top: -15px;
}
table {
    margin-bottom: 25px;
}
main {
    background-color: #ffffff;
    margin-top: -50px;
}
.alstyle {
    text-indent: 3%;
    margin-right: 40px;
}
.alstyle-2 {
    text-indent: 3%;
    margin-top: -15px;
    margin-right: 40px;
}
.tiside {
    margin-left: -55px;
}
.hrstyle {
    padding: 0px 90px 0px 100px;
    margin-left: -55px;
}
.sestyle {
    margin-left: 375px;
    margin-top: -20px;
    padding: 20px 50px 200px 50px;
}
ul {
    list-style-type: none;
}
ul .listyle-2:before {
    content: "■";
    float: left;
    color: #17abb3;
    font-size: 20px;
    padding: 0px 10px 0px 0px;
    margin-top: -5px;

}
img {
    position: absolute;
    margin-left: -625px;
    margin-top: 40px;
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    border: solid #ffffff;
}
img:hover {
    cursor: zoom-in;
}

.astyle-2 {
    float: left;
    background-color: #e3e3e3;
    padding: 20px 50px 350px 115px;
}
footer {
    background-color: #17abb3;
    position: sticky;
    padding: 10px 200px 1px 200px;
    margin-top: -80px;
    text-align: center;
}
.restyle {
    padding: 15px 10px 0px 10px;
    width: 2rem;
    height: 2rem;
}
.pstyle-5 {
    font-style: italic;
    color: #ffffff;
}
hr {
    margin-top: -15px;
}

.restyle-2 {
    margin-left: -200px;
}
